@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&family=Oswald:wght@700&display=swap');
.search{
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100vh;
}
.search > input[type="number"]{
  padding:10px;
  width:70%;
  text-align: center;
  background-color: #9ec5da;
  font-size: 1.5em;
  font-weight: bold;
  border: none;
  border:1px solid #427D9D;
  border-radius: 5px;
}
.search > button{
  border: none;
  width: 50%;
  margin: 10px auto;
  text-align: center;
  padding: 0.5em;
  background-color: #427D9D;
  border-radius: 10px;
  font-size: 1.5em;
  font-weight: bold;
}

body{
  background-color: #DDF2FD;
  font-family: 'Kanit', sans-serif;
}

.top-info{
  font-size: 2.5rem;
  display: flex;
  flex-flow: column wrap;
  margin:20px;
  font-weight: bold;
  color: #002235;
}

.back{
  margin: 20px;
}
.back > button{
  height: 70px;
  border-radius: 20px;
  border: 1px solid #0c012a;
  background-color: #427D9D;
  color: white;
}
.bottom-info{
  margin: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.card{
  width: 400px;
  height: 150px;
  color: white;
  background-color: #427D9D;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding: 20px;
  border: 2px solid black;
  border-radius:10px;
  margin: 20px 10px;
}
.pname{
  font-size: 1.7em;
}
.sname{
  font-weight: bold;
}
.head{
  font-size: 3.5rem;
  margin: 20px;
  font-weight: bold;
  color: #002235;
  display: flex;
  flex-flow: row wrap;
  justify-content:space-between;

}
.head>button{
  height: 70px;
  border-radius: 20px;
  border: 1px solid #0c012a;
  background-color: #427D9D;
  color: white;
}
.map{
  height:40vh;
  width: 80%;
  margin: auto;

}

.heading{
  font-weight: bold;
  color: #002235;
  font-size: 5.5em;
}
.load{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.err-code{
  display: flex;
  width: 100%;
  justify-content: center;
  height: 80vh;
  align-items: center;
  color: #002235;
  font-size: 5.5em;
}
@media screen and (max-width:1100px) {
  .heading{
    font-weight: bold;
    color: #002235;
    font-size: 2em;
  }
  .head{
    font-size: 2.5rem;
    justify-content: center;
  }
  .err-code{
    text-align: center;
    font-size: 2rem;
  }
}